/*applies boarder-box to all elements to allow for true sizing*/
*,
*:before,
*:after {
    box-sizing:
        boarder-box;
}
body,
html {
    height: 75%;
    
}
/*moving/scrolling section of the webpage*/
.parallax {
    /* The image used */
    background-image: url('../images/background.png');
    background-color: #01060a;
    /* Full height */
    height: 50%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*padding for navbar*/
.navbar-nav>li {
    padding-left: 0px;
    padding-right: 25px;
}

/*Footer Stylizing*/
section #services li {
    display: inline-block;
    margin: 20px;
    padding-right: 50px;
    list-style: none;
}
section #services li div {
    color: rgb(0, 53, 68);
    font-size: 200%;
    line-height: 50px;
    transition: all 0.5s ease;
}
section #services li a {
    color: rgb(0, 141, 160);
}
section #services li div:hover {
    transform: rotate(360deg);
}
.lock {
    padding: 0px 0px 0px 435px;
    background-color: #00070d;

}
